version: '3.9'

services:
  metabase:
    image: metabase/metabase:latest
    ports:
      - "3000:3000"
    volumes:
      - metabase_data:/metabase-data
    restart: unless-stopped
    networks:
      - youtube_analytics_net

volumes:
  metabase_data:

networks:
  youtube_analytics_net:
    external: true
