version: '3.9'

services:
  etl:
    build:
      context: ./etl
    env_file: .env
    networks:
      - youtube_analytics_net

  metabase:
    extends:
      file: metabase/docker-compose.yml
      service: metabase
    networks:
      - youtube_analytics_net

networks:
  youtube_analytics_net:
    driver: bridge
