version: '3.9'

services:
  etl:
    build:
      context: ./etl
    container_name: youtube_etl
    env_file: .env
    volumes:
      - ./etl/src:/app/src
    networks:
      - youtube_analytics_net

  metabase:
    image: metabase/metabase:latest
    container_name: youtube_metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_FILE: /metabase-data/metabase.db
    volumes:
      - metabase_data:/metabase-data
    restart: unless-stopped
    networks:
      - youtube_analytics_net

volumes:
  metabase_data:


networks:
  youtube_analytics_net:
    driver: bridge
